html{
  box-sizing: border-box;
}
/* slides theme */
.reveal section img, .reveal section a img{
  border: none;
  box-shadow: none;
}
.reveal pre{
  tab-size: 1em;
  background: #3f3f3f;
}
.reveal pre code{
  margin:0.5em;
}
.reveal .source-code{
  font-family: 'Monaco', monospace;
}

/* Slide Antistatique */
.antistatique_logo{
  animation-duration: 4000ms;
  animation-timing-function: ease-in-out;
  animation-name: logo;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes logo {
    0% {
        fill: #ef2678;
    }
    100% {
        fill: #000032;
    }
}


/* Meetup flex */
.reveal .frontenders{
  background: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.4em;
}
.reveal .frontenders div{
  flex: 1 1 auto;
  background-color: #3f3f3f;
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  overflow: hidden;
}
.reveal .frontenders div img{
  object-fit: cover;
  margin-top:0;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}


.reveal .mega{
  width: 1.1em;
  height: 1.1em;
  line-height: 0.9em;
  margin: 0 auto 0.3em;
  text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
  color:#fff;
  background-color: #ef2678;
  border-radius: 0.55em;
}

/* Yoda */
.yoda{
  background: url('../img/yoda.jpg') 10% 50% no-repeat;
  flex-grow: 1;
  order:3;
  background-size: cover;
}

/* Flex demo container */
.container {
  display: -webkit-flex;
  display: flex;
  padding: 10px !important;
  width: 90%;
  margin: 15px auto !important;
  background-color: #fff;
  color: white;
  box-sizing: border-box;
  font-size: 26px !important;
  box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
}
.container .item {
  padding: 10px !important;
  box-sizing: border-box;
  overflow: hidden;
}

/** Colors from https://coolors.co/app/2e86ab-a23b72-f18f01-c73e1d-3b1f2b
Color 1: #2e86ab
Color 2: #a23b72
Color 3: #f18f01
Color 4: #c73e1d
Color 5: #5B0720
Color 6: #4F1271
Color 7: #7CAE8A
Color 8: #4B644A
*/

.container .item:nth-child(1) {
  background-color: #2e86ab;
}
.container .item:nth-child(1)::before {
  content: "1.\a0 CSS";
}
.container .item:nth-child(2) {
  background-color: #a23b72;
}
.container .item:nth-child(2)::before {
  content: "2.\a0 IS";
}
.container .item:nth-child(3) {
  background-color: #f18f01;
}
.container .item:nth-child(3)::before {
  content: "3.\a0 AWESOME";
}
.container .item:nth-child(4) {
  background-color: #c73e1d;
}
.container .item:nth-child(4)::before {
  content: "4.\a0 WITH";
}
.container .item:nth-child(5) {
  background-color: #5B0720;
  color: rgba(255,255,255,0.87);
}
.container .item:nth-child(5)::before {
  content: "5.\a0 FLEX";
}
.container .item:nth-child(6) {
  background-color: #4F1271;
}
.container .item:nth-child(6)::before {
  content: "6.\a0 BOX";
}
.container .item:nth-child(7) {
  background-color: #7CAE8A;
}
.container .item:nth-child(7)::before {
  content: "7.\a0 FROM";
}
.container .item:nth-child(8) {
  background-color: #4B644A;
}
.container .item:nth-child(8)::before {
  content: "8.\a0 THE FUTURE";
}

/* Flex demo line title */
h3.example {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}
h3.example::before,
h3.example::after {
    content: "";
    border-bottom: solid #000032 1px;
    -webkit-flex: 1;
    flex: 1;
}

/* Flex demo baseline */
@keyframes fontgrow1 {
    0% {
        font-size: 1em;
    }
    100% {
        font-size: 3em;
    }
}
@keyframes fontgrow2 {
    0% {
        font-size: 4em;
    }
    100% {
        font-size: 1em;
    }
}

.reveal .fontgrow1 {
  animation-duration: 4000ms;
  animation-timing-function: ease-in-out;
  animation-name: fontgrow1;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.reveal .fontgrow2 {
  animation-duration: 4000ms;
  animation-timing-function: ease-in-out;
  animation-name: fontgrow2;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* Flex demo responsive media element*/
@keyframes grow {
    0% {
        width: 300px;
    }
    100% {
        width: 800px;
    }
}

.reveal .media-example.media-example-animate {
  animation-duration: 4000ms;
  animation-timing-function: ease-in-out;
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.reveal .media-example {
  font-size: 20px;
  line-height: normal;
  border: solid black 1px;
  padding: 10px;
  text-align: left;

  display: -webkit-flex;
  display: flex;
}
.reveal .media-example-body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-items: baseline;
  align-items: baseline;
}
.reveal .media-example-image {
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ef2678;
  border-radius: 20px;
  margin-right:10px;

  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.reveal .media-example-name {
  font-weight: bold;
  margin: 8px 5px 8px 0;
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto;
}
.reveal .media-example-date {
  color: rgba(0,0,0,0.5);
  font-size: 18px;
  margin-bottom: 5px;
}
.reveal .media-example-text {
  font-size: 16px;
  -webkit-flex: 1 0 100%;
  flex: 1 0 100%;
}


/* flex input field */
.reveal .btn{
  background-color: #ef2678;
  border-top: 1px solid #ef2678;
  border-bottom: 1px solid #ef2678;
  cursor: pointer;
  border: none;
  color: #fff;
  padding-left: 0.4em;
  padding-right: 0.4em;
}
.reveal .newsletter-form{
  display:flex;
  border:20px solid rgba(0,0,0,0.2);
  border-radius:5px;
}
.reveal .newsletter-form input, .reveal .newsletter-form select{
  line-height:50px;
  font-size: 30px;
  /*-webkit-appearance:none;*/
  border:none;
}
.reveal .newsletter-form select{
  padding-left: 1.4em;
  padding-right: 1.4em;
  font-size: 20px;
}
.reveal .newsletter-form input[type="email"]{
  padding-left: 0.4em;
  flex-grow: 1;
  border-top:1px solid white;
  border-bottom:1px solid white;
}
